.tabs {
  border-bottom: $brd-s-md-dk;
  background-color: #fff;

  h2 {
    border: $no-border;
    font-size: $f-s-md;
    margin: 0;
  }

  .item {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #771213;

    //padding: $padding-sm;
    //margin: $padding-sm $padding-sm 0 $padding-sm;
    //background: $c-prim;

    h2 {
      background: none;
      color: $f-c-dk;
    }
  }

  .item.active {
    //background: $c-sec;
    background-color: #771213;
    text-shadow: none;
    h2 {
      color: #fff;
      background: none;
    }
  }
}
